header {
    width: 100%;
    height: 84px;
    background-color: rgba(0, 119, 101, 1);
    border-bottom: 1px solid black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-width: 190px;
    padding-left: 200px;
    display: block;
}

header .mnu_top {
    list-style-type: none;
    display: inline-block;
    padding-right: 200px;
}

header .mnu_top li {
    display: inline-block;
}

header .mnu_top li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.part1 {
    background-image: url(image.svg);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}

.part1 .container1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
    padding-bottom: 160px;
}

.part1 .container1 .text1 {
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 100px;
}

.part2 {
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 1);
    max-width: 100%;
}

.part2 .text2 {
    padding-top: 20px;
    box-sizing: border-box;
    width: 1219px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.part2 .text2 h1 {
    margin-bottom: 0%;
    text-align: center;
    font-family: sans-serif;
    font-size: 55px;
    color: rgba(0, 119, 101, 1);
    margin-top: 25px;
    position: relative;
}
.part2 .text2 h1 span{
    position:absolute; top:-110px
}
.part2 .text2 p {
    margin-top: 20px;
    text-align: left;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 35px;
}

.part3 {
    box-sizing: border-box;
    background-image: url(hero.svg);
    background-size: cover;
    background-position: center center;
}
.part3 .container3{
    width: 1219px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 55px;
    padding-right: 55px;
}
.part3 .container3 .text3{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    line-height: 56px;
    font-size: 58px;
    
}
.part4{
    box-sizing: border-box;
    max-width: 100%;
    background-color: #fff;
}
.part4 .text4{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.part4 .text4 h1{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color:rgba(0, 119, 101, 1);
    font-size: 55px;
    margin-bottom: 30px;
}
.part4 .text4 h1 span{
    position:absolute; top:-110px
}
.part4 .text4 img{
    float: left;
    margin-right: 30px;
}
.part4 .text4 p{
    margin-top: 0%;
    font-size: 35px;
    line-height: 38px;
    font-family: sans-serif;
}
.part5{
    box-sizing: border-box;
    max-width: 100%;
    background-color:rgba(238, 238, 238, 1);
}
.part5 h1{
    position: relative;
    text-align: center;
    color: rgba(0, 119, 101, 1);
    font-family: sans-serif;
    font-size: 55px;
}
.part4 h1 span{
    position:absolute; top:-110px
}
.part5 figcaption i{
    font-size: 18px;
}
.part5 figcaption b{
    color:rgba(0, 119, 101, 1) ;
    font-size: 24px;
    font-family: sans-serif;
}
.part5 .team{
    box-sizing: border-box;
    width: 1219px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.part5 .block1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.part5 .block1 figure{
    text-align: center;
}
.part5 .block2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.part5 .block2 figure{
    text-align: center;
}
footer{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(51, 51, 51, 1);
}
footer .text5{
    box-sizing: border-box;
    width: 1000px;
    padding: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    line-height: 40px;
}
